<ion-view title="DogLovers" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-radio>Radio</ion-radio>
            <label class="item item-select">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <ion-item class="range range-positive">Range
                <input type="range" value="30" min="0" max="1000">
            </ion-item>
        </form>
        <div>
            <p>
                Add somes
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
    </ion-content>
</ion-view>