<ion-view title="Profile" id="page3">
    <ion-content padding="true" class="has-header" >
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h4 id="profile-heading1" style="color:#000000;text-align:center;">{{nome}} @{{username}}</h4>
        <div id="profile-markdown1" style="color:#000000;text-align:justify;">
            <p>Motto:
                <strong>{{motto}}</strong>
            </p>
        </div>
        <div class="button-bar"></div>
        <div class="button-bar">
            <button id="profile-button7" class="button button-energized  button-block icon ion-edit"> Edit profile</button>
            <button id="profile-button9" class="button button-assertive  button-block icon ion-android-add"> Add Pet</button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>